@import "./var.scss";

.account-form-container {
  @include flexCenter();
  // border: solid 1px #eee;
  outline: none;
  margin: 50px auto 220px;
  width: 300px;
  .title-container {
    @include flexCenter();
    margin-bottom: 50px;
    .title {
      font-family: $s-srf;
      font-size: 32px;
      font-weight: 300;
      padding-bottom: 5px;
      letter-spacing: -0.5px;
      text-transform: uppercase;
    }
    .sub-title {
      font-family: $srf;
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      color: $gray;
      letter-spacing: -0.01px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .form-container {
    @include flexCenter();
    .small-red {
      font-size: 14px;
      letter-spacing: -0.5px;
      color: $pink;
      margin-bottom: 30px;
    }
    .btn-wrap {
      width: 100%;
      button {
        letter-spacing: 1px;
        width: 100%;
        color: #fff;
        background-color: $pink;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        border-radius: 3px;
        padding: 21px;
        margin-top: 20px;
        outline: none;
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $black;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .text-container {
      font-family: $s-srf;
      padding-top: 20px;
      p {
        color: $black;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
      }
      .mid-red {
        color: $pink;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.2px;
        cursor: pointer;
      }
    }
  }
  @mixin notice-base() {
    font-size: 14px;
    font-family: $s-srf;
    color: $gray;
    letter-spacing: -0.01px;
    line-height: 1.5em;
    margin: 10px 5px 5px 5px;
  }
  .notice-retry-block {
    @include notice-base();
    display: block;
    opacity: 1;
    // transform: translateY(0);
    transition: all 3s ease-in-out;
  }
  .notice-retry-none {
    @include notice-base();
    display: none;
    opacity: 0;
    // transform: translateY(30px);
    transition: all 3s ease-in-out;
  }
  .summit-error-border {
    border: 1px $pink solid;
  }
}
