$s-srf: Raleway, san-serif;
$srf: Bitter, serif;
$black: #342f2f;
$pink: #f06060;
$gray: #ada2a4;
$l-gray: #f5f4f4;

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product {
	@include center();
	display: inline-block;
	width: 260px;
	height: 328px;
	margin: 0 0 70px 0;

	.product__visuals {
		width: 260px;
		height: 260px;

		a,
		.img-holder,
		img {
			width: 99%;
			height: 99%;
		}
	}

	.product__info {
		@include center;

		.vertical-bar {
			background-color: $black;
			height: 15px;
			width: 2px;
		}

		a {
			text-decoration: none;
			margin: auto 7px;
			color: $black;
			font-family: $srf;
		}
		span {
			margin: auto 7px;
			color: $black;
			font-family: $srf;
		}
	}
}
