$s-srf: Raleway, san-serif;
$srf: Bitter, serif;
$black: #342f2f;
$pink: #f06060;
$gray: #ada2a4;
$l-gray: #f5f4f4;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  @include center();
  display: inline-block;
  width: 260px;
  height: 328px;
  margin: 0 1px 70px 1px;
  // padding: 0 1px 0 1px;

  .product__visuals {
    width: 260px;
    height: 260px;
    margin-top: 10px;
    background-size: 258px 258px;
    background-position: center;
    background-color: transparent;
    position: relative; //position:realative 없으면 지우자

    // .product__visuals :hover ~ .whole-wrapper {
    //   position: absolute;
    //   top: 170px;
    //   left: 30px;
    //   width: 200px;
    //   height: 62.39px;
    //   // display: block;
    //   opacity: 1;
    //   transition: all 0.2s ease-in-out;
    // }
    .price {
      position: absolute;
      top: 25px;
      left: 20px;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      color: #fff;
      background-color: $pink;
      @include center();
      span {
        font-family: $s-srf;
        text-align: center;
        font-size: 15px;
        font-weight: 370;
      }
    }
    .sale {
      position: absolute;
      top: 25px;
      right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      color: #342f2f;
      background-color: #f3b562;
      @include center();
      span {
        position: absolute;
        top: 17px;
        left: 12px;
        font-family: $srf;
        text-align: center;
        font-size: 17px;
        font-weight: 560;
      }
    }
    .product__cart {
      //장바구니 +-튀어나올때 어두운 부분
      // display: none;
      position: absolute;
      top: 0;
      width: 260px;
      height: 260px;
      background-color: $black;
      opacity: 0.7;
    }

    .whole-wrapper {
      //네스팅하면 클래스명 못바꾸니까 안함
      position: absolute;
      top: 200px;
      left: 30px;
      width: 200px;
      height: 62.39px;
      // display: none;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    .whole-wrapper--open {
      //네스팅하면 클래스명 못바꾸니까 안함
      position: absolute;
      top: 170px;
      left: 30px;
      width: 200px;
      height: 62.39px;
      // display: block;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .btn-container {
      position: relative;
      .decrease-btn,
      .increase-btn {
        position: absolute;
        // background-color: $pink;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: $l-gray;
      }
      .decrease-btn {
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background-color: $pink;
        @include center();
      }

      .increase-btn {
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @include center();
      }
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: $gray;
    .product__name {
      @include center();
      h4 {
        font-size: 18px;
        font-weight: 700;
        font-family: $srf;
        color: rgb(52, 47, 47);
        cursor: pointer;
      }
    }

    .product__detailInfo {
      @include center();
      text-align: center;
      font-family: $srf;
      font-size: 14px;
      margin-top: 3px;
      .vertical-bar {
        background-color: $gray;
        height: 15px;
        width: 2px;
      }
      .product__name {
        text-decoration: none;
        margin: auto 7px;

        font-family: $srf;
      }

      .vertical-bar {
        margin: 0 10px 0 10px;
      }
    }
  }
}
