$s-srf: Raleway, san-serif;
$srf: Bitter, serif;

// .headerContainer전체
.header--Container {
  //min-width 는 나중에 반응형 때 쓸거야 아마....
  min-width: 770px;
  padding: 13px 0;
  position: relative;
  text-align: center;
  z-index: 4;
}

// 중간에 홈 로고랑 글귀
.center--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #342f2f;
  -webkit-font-smoothing: antialiased;
  // 웹킷 이거 왜쓰는거야?
}
.siteLogo img {
  vertical-align: middle;
}
.storeDesc {
  margin: 0 12px;
  display: inline-block;
  font-family: $srf;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}

//오른쪽 망할 장바구니

.cartOpenButton {
  position: absolute;
  padding: 0;
  top: 63px;
  right: 34px;
  outline: hidden;
}

.cartOpenButton .countCart {
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  background-color: #f06060;
  border-radius: 50%;
}
.cartOpenButton {
  width: 70px;
  height: 28px;

  display: flex;
  // color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
  font: 400 13.3333px Arial;
}
#iconCart {
  width: 16px;
  height: 20px;
}

//장바구니

.basket__wrapper {
  .basket-header {
    position: relative;
    color: #342f2f;
    height: 50px;
    .basket-title {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
      text-indent: 5px;
      font-family: $srf;
      font-weight: 200;
    }
    .basket-closeBtn {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 15px;
      font-weight: 800;
      font-family: $s-srf;
    }
  }

  hr {
    margin: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border: none;
  }
  .cart-header {
    margin: 20px 0;
    height: 20px;
    font-size: 12px;
    font-family: $srf;
    font-weight: lighter;
    position: relative;

    .quentity {
      position: absolute;
      right: 200px;
      top: 50%;
      transform: translateY(-50%);
    }
    .quentityPrice {
      position: absolute;
      right: 100px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
