@import "../../../Styles/var.scss";

.recomand-product-item {
  min-width: 25%;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  .product-img-box {
    position: relative;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-box {
      height: 360px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .sold-out {
      position: absolute;
      display: block;
      top: 160px;
      width: 100%;
      font-family: $srf;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: -0.2px;
      color: $black;
    }
    .none {
      display: none;
    }
    .icon-box {
      top: 0;
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90%;
      margin: 16px;
    }
  }

  .product-info-box {
    text-align: center;
    font-family: $srf;
    letter-spacing: -0.1px;
    @include flexCenter();
    flex-direction: column;
    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 700;
      color: $black;
      letter-spacing: -0.1px;
      cursor: pointer;
    }
    ul {
      list-style: none;
      font-size: 14px;
      font-weight: 400;
      color: $gray;
      display: flex;
      flex-direction: row;

      li {
        letter-spacing: -0.1px;
        margin-top: 3px;
        padding-right: 10px;
        &:after {
          padding-left: 10px;
          content: "|";
        }
        &:last-child:after {
          padding-left: 0px;
          content: "";
        }
      }
    }
  }
}
.recomand-product-out-of-stock {
  // opacity: 0.7;
  &:hover {
    cursor: default;
  }
  .img-box {
    background-color: $pink;
    opacity: 0.7;
    &:hover {
    }
  }
}
