@import "../../../Styles/var.scss";

.recomand-slide {
  overflow: hidden;
  .recomand-product-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
    padding-top: 2px;
    transition: all 0.2s ease-in-out;
  }
  .slide-handler-wrap {
    @include flexCenter();
    margin: 30px 0px;

    .prev-btn,
    .next-btn {
      padding: 0 40px;
      font-size: 2em;
      color: $black;
      &:hover {
        color: $pink;
        cursor: pointer;
      }
    }
    .btn-none {
      padding: 0 40px;
      font-size: 2em;
      color: $gray;
    }
  }
}
