@import "../../Styles/var.scss";

.bundle-box {
  font-family: $s-srf;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  background-color: #fff;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));

  .cate-title-box {
    color: $l-gray;
    font-family: $srf;
    font-size: 25px;
    font-weight: 900;
    padding: 30px 0;
  }
  ul {
    height: 100%;
    list-style: none;
    padding: 50px 0;
    li {
      margin: 0 30px;
      padding-bottom: 15px;
      text-align: left;
      font-size: 16px;
      white-space: nowrap;
      max-width: 260px;
      overflow: hidden;
      text-overflow: ellipsis;
      &::before {
        content: "•";
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
      span {
        padding-left: 5px;
      }
    }
  }
  .btn-box {
    p {
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      &:first-child {
        // padding-bottom: 10px;
      }
      &:hover {
        cursor: pointer;
        color: $black;
      }
    }
    padding: 60px 0;
  }
}
