@import "../../../Styles/var.scss";

@mixin hoverBtn() {
  transform: scale(1);
  transition: all 0.2s linear;
  &:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: all 0.2s linear;
    cursor: pointer;
  }
}

.overlay-banner-wrap {
  // 여기에 배경화면 변경
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  transition: all 0.5s ease-in-out;

  .btn-wrap {
    position: absolute;
    right: 20px;
    top: 40vh;
  }
  .title-wrap {
    @include flexCenter();
    text-align: center;
    width: 100%;
    display: flex;
    margin-bottom: 200px;
    &:hover {
      cursor: pointer;
    }
  }
  .price-sticker-wrap {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 28%;
    top: 50%;
  }
}
