@import "../../Styles/var.scss";

@mixin focus-base {
  font-family: $s-srf;
  letter-spacing: -0.1px;
  position: relative;
  left: 20px;
  color: $gray;
}

.input-wrap {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  .focus-out {
    @include focus-base();
    top: 27px;
    font-size: 14px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }
  .focused {
    @include focus-base();
    top: 0;
    font-size: 12px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  .focus-opacity {
    @include focus-base();
    top: 27px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  input {
    box-sizing: border-box;
    border: none;
    border-radius: 1px;
    padding: 12px 20px;
    background-color: $l-gray;
    width: 100%;
    border: 1px solid $l-gray;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      background-color: #fff;
      transition: all 0.2s ease-in-out;
    }
  }
  .block-scale {
    transform: scaleY(1);
    max-height: 100px;
    transform-origin: top;
    transition-property: transform;
    transition: 0.2s ease-in-out;
    display: block;
    transition-property: height;
    transition-delay: 0.2s;
    transition: 0.2s ease-in-out;
  }
  .none-scale {
    transform: scaleY(0);
    max-height: 0px;
    transform-origin: top;
    transition-property: transform;
    transition: 0.2s ease-in-out;
    display: block;
    transition-property: height;
    transition-delay: 0.2s;
    transition: 0.2s ease-in-out;
  }
  @mixin notice-base() {
    font-size: 14px;
    font-family: $s-srf;
    color: $gray;
    letter-spacing: -0.01px;
    line-height: 1.5em;
    margin: 10px 5px 5px 5px;
  }
  .notice-block {
    @include notice-base();
    display: block;
    opacity: 1;
    transition: all 3s ease-in-out;
  }
  .notice-none {
    @include notice-base();
    display: none;
    opacity: 0;
    transition: all 3s ease-in-out;
  }
}
